[Unit]
Description=Send secure messages to Signal clients
Requires=dbus.socket
After=dbus.socket
Wants=network-online.target
After=network-online.target

[Service]
Type=dbus
PrivateTmp=yes
Environment="SIGNAL_CLI_OPTS=-Xms2m"
ExecStart=@BINDIR@/signal-cli --config @VARDIR@ daemon --system
User=@SCUSER@
Group=@SCGROUP@
BusName=org.asamk.Signal
# JVM always exits with 143 in reaction to SIGTERM signal
SuccessExitStatus=143

[Install]
Alias=dbus-org.asamk.Signal.service
WantedBy=multi-user.target
